body{
    background-color: #FFFBE8;
    color:rgb(13, 13, 13);
    
}
nav{
    background-color: #DCE2BD;
    max-width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: left;
    
}
nav a{
    color: rgb(13, 13, 13);

}
main{
    background-color: #D8DDEF;
}
footer{
    background-color: #B6C4A2;
}
#login{
    background-color: #93C0A4;
}

.forecast-card {
    border: 1px solid #6d6d6d;
    padding: 0.7em;
    margin: 1em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color: #DCE2BD;
}

.membership-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.membership-table th,
.membership-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.membership-table th {
    background-color: #f4f4f4;
    text-align: left;
    font-weight: bold;
}

.membership-table tr:nth-child(even) {
    background-color: #fafafa;
}
