body{
    background-color: #FFFBE8;
    color:rgb(13, 13, 13);
    
}
nav{
    background-color: #DCE2BD;
    min-width: 100%;
    display: flex; 
    /* justify-content: left;  */
    align-items: center;
    padding: 0.7rem;
    
}
a{
    color: rgb(13, 13, 13);
    text-decoration: none;
    padding: 0.3rem;
}
a:active{
    color: rgb(13, 13, 13);
}
a:hover{
    color: #B6C4A2
}
nav a{
    color: rgb(13, 13, 13);
}

.login-link{
    margin-left: auto;
}

main{
    background-color: #D8DDEF;
}
footer{
    background-color: #B6C4A2;
}
#login{
    background-color: #93C0A4;
}

.forecast-card {
    border: 1px solid #6d6d6d;
    padding: 0.7em;
    margin: 1em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color: #DCE2BD;
}

.membership-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.membership-table th,
.membership-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.membership-table th {
    background-color: #f4f4f4;
    text-align: left;
    font-weight: bold;
}

.membership-table tr:nth-child(even) {
    background-color: #fafafa;
}
#home-weather-widget{
    border: 1px solid #6d6d6d;
    padding: 0.7rem;
    margin: 0 auto;
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color: #DCE2BD;
}
#home-hero-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.7rem;
}
#home-hero-text p{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}
#home-hero-text h1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}
#home-hero-text img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}