{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Gym Management App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            {% if user.profile.is_admin %}
                <a href="{% url 'dashboard' %}">Admin Dashboard</a>
            {% else %}
                <a href="{% url 'dashboard' %}">Client Dashboard</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login/Sign Up</a>
        {% endif %}
    </nav>

    <div class="container">
        <!-- Dashboard section -->
        <div class="dashboard">
            {% block dashboard %}
            <!-- content -->
            {% endblock %}
        </div>

        <!-- Additional page content -->
        <div class="content">
            {% block content %}
            <!-- content -->
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer>
        Gym Management App &copy; {% now "Y" %}
    </footer>
    <script src="{% static 'main/javascript/script.js' %}"></script>
</body>
</html>