{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'login' %}">Login/Sign Up</a>
    </nav>

    <!-- Main container -->
    <div class="container">
        <!-- Dashboard section -->
        <div class="dashboard">
            {% block dashboard %}
            <!-- content -->
            {% endblock %}
        </div>

        <!-- Additional page content -->
        <div class="content">
            {% block content %}
            <!-- more content  -->
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer>
        Gym management &copy; {% now "Y" %}
    </footer>
    <script src="{% static 'main/javascript/script.js' %}"></script>
</body>
</html>