{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block dashboard %}
<div id="home-hero-text">
    <h1>Gym & Fitness Management App</h1>
    <img src="/">
    <p>Because fitness is not a lifestyle, it is your health.<br>
        Workout with personalized routines, curated by the best trainers.
    </p>
    {% if user.is_authenticated %}
    <a href="/dashboard" class="add-button">See Routines</a>
    {% else %}
    <a href="/login" class="add-button">Join Now</a>
    {% endif %}
</div>


<!-- Displaying current weather information: -->
{% if weather_data %}
    <div id="home-weather-widget">
        <h3>Current weather in {{ weather_data.city }}</h3>
        <p>Temperature: {{ weather_data.temperature }}°C</p>
        <p>Description: {{ weather_data.description }}</p>
        <p>Wind Speed: {{ weather_data.wind_speed }} m/s</p>
        <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}@2x.png" alt="Weather icon">
    </div>
<!-- If there is an error message, display it -->
{% elif error_message %}
    <p class="error">{{ error_message }}</p>
{% else %}
    <p>No weather data available.</p>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and not user.profile.is_admin %}
    {% if not user.membership %}
    <a id="choose-a-membership-banner" href="/add-membership">Don't have a membership yet? Choose a Membership now</a>
    {% else%}
    <section id="home-routines">
        <h2>Check out your routines</h2>
        <div class="workout-plans">
            <div class="workout-plans">
                <h3>Your Routines</h3>
                {% if routines %}
                <ul>
                    {% for routine in routines %}
                        <li>
                            <strong>{{ routine.name }}</strong><br>
                            {{ routine.description }}<br>
                            Duration: {{ routine.duration_minutes }} minutes
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No routines created yet.</p>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
{% endif %}

<div>
    <h2>Meet our Instructors</h2>
</div>

{% endblock %}